/* App.css */
.app {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
    background-color: #0c051a;
}
.sidebars {
  flex: 1;
  background-color: #0c051a;;
  align-items: center;
    width: 20%;

}
.chat {
          margin: 0;
             padding: 0;
             overflow-x: hidden; /* Hide horizontal scrollbar */
             display: flex;
}



.toast-mess {
  background: rgb(255, 255, 255);
  color: #38084a;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Graffiti', cursive;
  margin-right: 20px;
}