/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebars {
  flex: 1;
  background-color: #13c230;;
  align-items: center;
    width: 20%;

}
.chat {
          margin: 0;
             padding: 0;
             overflow-x: hidden; /* Hide horizontal scrollbar */
             display: flex;
}



