import React, { useState } from 'react';
import ChatMessage from './components/ChatMessage';
import UserList from './components/UserList';
import InputBox from './components/InputBox';
import './App.css';
import { Prism as SyntaxHighlighter } from 'react-syntax-highlighter';
import { dark } from 'react-syntax-highlighter/dist/esm/styles/prism';
import { atomDark } from 'react-syntax-highlighter/dist/esm/styles/prism';
import AwesomeSidebar from './AwesomeSidebar';
import Header from './Header';
import SideNavbar from './SideNavbar';
import {BrowserRouter, Route, Routes} from "react-router-dom";
import Home from './pages/Home';
import Reports from './pages/Reports';
import 'boxicons'
import Products from './pages/Products';
const App = () => {
  const [messages, setMessages] = useState([]);
  const [selectedChatId, setSelectedChatId] = useState(null);
  const [chats, setChats] = useState([]);

  const handleAddChatWindow = () => {
    const newChatId = `chat-${Math.random().toString(36).substr(2, 9)}`;
    setChats((prevChats) => [...prevChats, { chatId: newChatId, messages: [] }]);
    setSelectedChatId(newChatId); // Automatically select the newly added chat window
    console.log("bbbbbbbbbbbb");
 
  };
  const code = `
  import logging
  `
  const handleSendMessage = (message, chatId) => {
    console.log("qqqqqqqqqqqqq")
    console.log(chatId);

    const newMessage = {
      id: messages.length + 1,
      avatar: 'https://example.com/avatar.png',
      username: 'John Doe',
      message,
      timestamp: Date.now(),
    };

    setMessages([...messages, newMessage]);
    setChats((prevChats) => {
      return prevChats.map((chat) =>
        chat.chatId === chatId
          ? { ...chat, messages: [...chat.messages, newMessage] }
          : chat
      );
    });
    console.log(chats);

    setSelectedChatId(chatId);
  };
  const getChatMessages = (chatId) => {
    console.log("ooooo");
    const selectedChat = chats.find((chat) => chat.chatId === chatId);
    console.log(selectedChat)
    return selectedChat ? selectedChat.messages : [];
  };
  
  const handleChatItemClick = (chatId) => {
    console.log(chatId);
    console.log("eeee")

    setSelectedChatId(chatId); // Update the selected chat ID when a chat is clicked
  };

  
  return (
    <div className="app">
  <div className="chat">
        <div className="sidebars">
    
  
   
 <BrowserRouter>
 <SideNavbar
        chats={chats}
        selectedChatId={selectedChatId}
        handleChatItemClick={handleChatItemClick}
        handleAddChatWindow={handleAddChatWindow}
      />
        <Routes>
          <Route path='/' exact element={<Home />} />
          <Route path='/reports' element={<Reports />} />
          <Route path='/products' element={<Products />} />
          <Route path='/uiop' element={<Reports />} />
        </Routes>
      </BrowserRouter>
      </div >
      <div className="chat-panel">
      <div className="chat-messages">
      {selectedChatId ? (
        <div>
          <h2>Chat Window: {selectedChatId}</h2>
          <div>
          {getChatMessages(selectedChatId).map((message) => (
            <ChatMessage
              key={message.id}
              avatar={message.avatar}
              username={message.username}
              message={message.message}
              timestamp={message.timestamp}
            />
          ))}
            </div>
       
    
        </div>
      ) : (
        <div>
          <h2>No chat selected</h2>
          <p>Select a chat from the sidebar or add a new chat window.</p>
        </div>
      )}
    </div>
    <InputBox
            onSendMessage={(message) => handleSendMessage(message, selectedChatId)}
          />
  </div>
      </div >
    </div>
  );
};
export default App;
